<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To do list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../js/jsLibraries/vue.js"></script>
 
</head>
<body>
    <div class="container">
        <item-template :items="items"></item-template> 
    </div>

    <template id="item-template">
        <div>
            <h2>To do list</h2>
            <form action="" class="row" @submit.prevent="addNewItem">
                <div class="col-sm-3">
                    <input type="text" v-model="newItem" class="form-control">
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default" :disabled="(newItem.length < 3)?'disabled':false">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add to do
                    </button>
                </div>          
                
            </form>
            <br>
            <div class="well col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item clearfix"
                    v-for="(item, index) in items">
                        <p class="lead" :class="{completed: item.completed}">
                            {{ item.name }}
                        </p>
                        <input v-show="editingItem === index"
                               v-model="item.name"
                               @blur="editingItem = null, editItem(item)"
                            type="text" name="" class="form-control">
                        <div>                        
                            <span class="pull-right">
                                <button @click="editingItem = index" 
                                    class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button v-show="editingItem === index"
                                        @click="editingItem = null, editItem(item)" 
                                    class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-floppy-saved"></span>
                                </button>
                                <button @click="updateState(true, item)"
                                    class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <button @click="updateState(false, item)"
                                    class="btn btn-info btn-xs">
                                    <span class="glyphicon glyphicon-repeat"></span>
                                </button>    
                                <button @click="removeItem(item)" 
                                    class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button> 
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>    
    </template>
<script src="main.js"></script>
</body>
</html>